body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: black; */
  /* background-image: url('https://static.vecteezy.com/system/resources/previews/005/117/976/original/house-in-a-snowy-forest-christmas-trees-mountains-snow-flat-cartoon-style-illustration-vector.jpg'); */
  /* background-image: url('https://img.freepik.com/premium-vector/cartoon-cute-little-boy-hiding-umbrella-during-rain-weather_338059-30.jpg'); */
  /* background-size: 100% 100%; */
  background: #EBF9FF;
  /* background: linear-gradient(to right, #D99EC9, */
  /* #F6F0C4); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}